
body {
    background: #111;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
table {
    border-collapse:separate;
    border-spacing: 8px;
    background: rgb(159, 208, 213);
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: left;
}
.mine{
    background: linear-gradient(to top,  black, orange);
}
.hiden{
    display: none;
}
.shown{
    background: linear-gradient(to top,  black, rgb(34, 172, 48));
}
.live{
    /* width: 150px;
    height: 50px; */
    color: blanchedalmond;
}
.restart{
    width: 150px;
    height: 40px;
    margin-bottom: 15px;
}
.board {
    margin: auto;
}


.cell {
    color: red;
    background: rgb(46, 45, 45);
    width: 100px;
    height: 100px;
    border-radius: 7px;
    
    /* border: 1px solid gray; */
}
.cellRevile {
    background: rgb(244, 240, 240);
    width: 50px;
    height: 50px;
    border-radius: 7px;
    /* border: 1px solid gray; */
}
.marked {
    background: linear-gradient(to top,  black,  red);
}
.cell:hover {
    background: linear-gradient(to top,  rgb(203, 175, 175), rgb(247, 242, 242));
    cursor: po;
}

.popup {
    background-color: orange;
    padding: 20px;
    position: absolute;
    right: 0px;
    top: 20px;
}

.highlight{
    background:  rgb(201, 225, 217);
}

