body {
    background-image:url(2.jpg);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

table {
    border-collapse: separate;
    border-spacing: 8px;
    background: rgb(76, 10, 10);
}
button{
    cursor: pointer;
}

footer {
    position: block;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(76, 10, 10);
    text-align: left;
}

.termin {
    border-radius: 20%;
    height: 100px;
    width: 150px;
    background-size: cover; /* You can use 'contain' if you want to fit the image within the button */
    background-repeat: no-repeat;
    background-position: center;
    border:5px solid rgb(76, 10, 10); /* Optional: Remove default button styles */
  
    cursor: pointer;
    /* Show cursor as pointer */
    /* Add any other styling you need */

}

.mine {
    background: linear-gradient(to top, black, orange);
}

.savedTime {
    text-align: end;
    width: 400px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    /* border: 4px rgb(30, 30, 29) solid; */
    color: rgb(76, 10, 10);
    font-weight: bold;
    font-style: oblique;
    font-size: larger;
    padding: 10px;
}

.hiden {
    display: none;
}

.shown {
    background: linear-gradient(to top, black, rgb(34, 172, 48));
}

.live {
    display: inline-block;
    border: 7px rgb(243, 41, 41) solid;
    color: rgb(243, 41, 41);
    font-weight: bold;
    font-style: oblique;
    font-size: larger;
    padding: 10px;
}
.boardGame{
    background-image: url('board.jpeg');
    width: 550px;
    height: 150px;
    border-radius: 5%;
    margin: auto;
    margin-bottom: 15px;
}
.timebutton {
    margin-top: 20px;
    background-color: rgb(95, 61, 20);

}
.lose{
    background-image: url('game.jpg');
    width: 600px;
    height: 350px;
    border-radius: 20%;
    margin: auto;
    /* margin-left: 700px; */
}
.win{
    background-image: url('win.jpeg');
    width: 600px;
    height: 350px;
    border-radius: 20%;
    margin: auto;
    /* margin-left: 700px; */
}
.resetButton{
    background-image: url('rounded-grey-redo-button-icon-original.svg');
    width: 100px;
    height: 100px;
    border-radius: 20%;
}
.clearStorageButton{
    background-image: url('rounded-grey-bin-button-icon-original.svg');
    width: 100px;
    height: 100px;
    border-radius: 20%;
}
.levelinc{
    background-image: url('rounded-grey-plus-button-icon-original.svg');
    width: 100px;
    height: 100px;
    border-radius: 20%;
    background-color: rgb(95, 61, 20);
}
.leveldec{
    background-image: url('rounded-grey-minus-button-icon-original.svg');
    width: 100px;
    height: 100px;
    border-radius: 20%;
    background-color: rgb(95, 61, 20);

}

.restart {
    background-image: url('rounded-grey-refresh-button-icon-original.svg');
    width: 100px;
    height: 100px;
    border-radius: 20%;
    background-color: rgb(95, 61, 20);
    /* border: 4px double rgb(5, 5, 5);
    background: rgb(202, 157, 157);
    background: rgb(202, 157, 157);
    width: 170px;
    height: 50px;
    border-radius: 7px;
    margin-bottom: 15PX;
    font-size: large;
    font-weight: bold; */
}

.mines {
    color: blanchedalmond;
}

.board {
    margin: auto;
}

.timer {
    display: inline-block;
    border: 7px rgb(243, 41, 41) solid;
    color: rgb(243, 41, 41);
    font-weight: bold;
    font-style: oblique;
    font-size: larger;
    padding: 10px;
}


.cell {
    cursor: pointer;
    color: rgb(46, 45, 45);
    background: rgb(46, 45, 45);
    width: 90px;
    height: 90px;
    border-radius: 7px;

    /* border: 1px solid gray; */
}

.cellRevile {
    background: rgb(244, 240, 240);
    width: 50px;
    height: 50px;
    border-radius: 7px;
    /* border: 1px solid gray; */
}

.marked {
    background: linear-gradient(to top, black, red);
}

/* .cell:hover {
    background: linear-gradient(to top,  rgb(203, 175, 175), rgb(247, 242, 242));
    cursor: po;
} */
/* .level {
    border: 4px double rgb(5, 5, 5);
    background: rgb(202, 157, 157);
    width: 170px;
    height: 50px;
    border-radius: 7px;
    margin-bottom: 5PX;
    font-size: medium;
    font-weight: bold;
    font-style: unset;
} */

.popup {
    background-color: orange;
    padding: 20px;
    position: absolute;
    right: 0px;
    top: 20px;
}

.highlight {
    background: rgb(201, 225, 217);
}