
body {
    background: #7bcad6;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
table {
    border-collapse:separate;
    border-spacing: 8px;
    background: rgb(159, 208, 213);
}
footer {
    position: block;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: left;
}
.mine{
    background: linear-gradient(to top,  black, orange);
}
.savedTime{
    width: 400px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    /* border: 4px rgb(30, 30, 29) solid; */
    color: rgb(204, 30, 30);
    font-weight: bold;
    font-style: oblique;
    font-size: larger;
    padding: 10px;
}
.hiden{
    display: none;
}
.shown{
    background: linear-gradient(to top,  black, rgb(34, 172, 48));
}
.live{
    display: inline-block;
    border: 4px rgb(30, 30, 29) solid;
    color: rgb(204, 30, 30);
    font-weight: bold;
    font-style: oblique;
    font-size: larger;
    padding: 10px;
}
.timebutton{
    border: 4px double  rgb(5, 5, 5);
    background: rgb(202, 157, 157);
    width: 170px;
    height: 50px;
    border-radius: 7px;
    font-size: medium;
    font-weight: bold;
    font-style: unset;
}

.restart{
    border: 4px double  rgb(5, 5, 5);
    background: rgb(202, 157, 157);
    background: rgb(202, 157, 157);
    width: 170px;
    height: 50px;
    border-radius: 7px;
    margin-bottom: 15PX;
    font-size: large;
    font-weight: bold;
}
.mines{
    color: blanchedalmond;
}
.board {
    margin: auto;
}
.timer{
    display: inline-block;
    border: 4px rgb(30, 30, 29) solid;
    color: rgb(204, 30, 30);
    font-weight: bold;
    font-style: oblique;
    font-size: larger;
    padding: 10px;
}


.cell {
    color:  rgb(46, 45, 45);
    color:  rgb(46, 45, 45);
    background: rgb(46, 45, 45);
    width: 90px;
    height: 90px;
    border-radius: 7px;
    
    /* border: 1px solid gray; */
}
.cellRevile {
    background: rgb(244, 240, 240);
    width: 50px;
    height: 50px;
    border-radius: 7px;
    /* border: 1px solid gray; */
}
.marked {
    background: linear-gradient(to top,  black,  red);
}
/* .cell:hover {
    background: linear-gradient(to top,  rgb(203, 175, 175), rgb(247, 242, 242));
    cursor: po;
} */
.level{
    border: 4px double  rgb(5, 5, 5);
    background: rgb(202, 157, 157);
    width: 170px;
    height: 50px;
    border-radius: 7px;
    margin-bottom: 5PX;
    font-size: medium;
    font-weight: bold;
    font-style: unset;
}
.popup {
    background-color: orange;
    padding: 20px;
    position: absolute;
    right: 0px;
    top: 20px;
}

.highlight{
    background:  rgb(201, 225, 217);
}

